.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  /* min-width: 600px;
  max-width: 756px; */
  background-color: #f2f2f2;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.header__title {
  margin-left: 64px;
  z-index: 3;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
.header__square-pic {
  position: absolute;
  right: 0px;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
}

.content {
  display: grid;
}
.description {
  display: flex;
  justify-content: center;
  /* background-color: red; */
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  min-width: 784px;
  width: 80%;
}
.two-columns__brief {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:nth-of-type(2n) {
  margin-top: 30px;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0;
  align-items: center;
}

.digits-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  width: 60%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.digits-subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  width: 60%;
  margin-top: 20px;
  text-align: center;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  margin: auto;
  padding: 0;
  /* padding-top: 60px; */
  align-items: stretch;
}

.table__cell {
  list-style-type: none;
  width: 250px;
}

.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.feynman {
  min-height: 890px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  align-items: center;
  position: relative;
}

.feynman__title {
  width: 648px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  margin: 100px 0px 0px;
  padding: 0;
  z-index: 2;
}

.feynman__subtitle {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-align: center;
  margin: 70px auto 0;
  z-index: 3;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
}

.feynman_img {
 position: absolute;
 left: 0px;
  bottom: 0px;
  width: 867px;
  height: 637px;
  z-index: 0;
}
  
.kaufman {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 90px 0;
  align-items: center;
  overflow: hidden;
}

.kaufman__title_theme_dark {
  width: 60%;
  text-align: center;
  color: #f2f2f2;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
}

.kaufman__subtitle_theme_dark {
  width: 60%;
  text-align: center;
  margin-top: 20px;
  color: #f2f2f2;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.table_theme_dark {
  z-index: 4;
}

.table__cell_theme_dark {
  width: 200px;
  color: #f2f2f2;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0px;
  z-index: 3;
}

.footer {
  display: flex;
  justify-content: center;
  min-height: 350px;
  padding: 60px 0 40px;
  background: #1f1f1f;
}
.footer__columns {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  color: #f2f2f2;
  margin: 18px 0 18px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin: 0 0 20px;
  color: #f2f2f2;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.footer__column-link {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}
